

node_modules/

uploads/ciudades/**.jpg
uploads/ciudades/**.jpeg
uploads/ciudades/**.png
uploads/ciudades/**.gif

uploads/usuarios/**.jpg
uploads/usuarios/**.jpeg
uploads/usuarios/**.png
uploads/usuarios/**.gif

uploads/artesanos/**.jpg
uploads/artesanos/**.jpeg
uploads/artesanos/**.png
uploads/artesanos/**.gif



