

node_modules/

uploads/municipios/**.jpg
uploads/municipios/**.jpeg
uploads/municipios/**.png
uploads/municipios/**.gif

uploads/usuarios/**.jpg
uploads/usuarios/**.jpeg
uploads/usuarios/**.png
uploads/usuarios/**.gif

uploads/artesanos/**.jpg
uploads/artesanos/**.jpeg
uploads/artesanos/**.png
uploads/artesanos/**.gif



