

node_modules/

uploads/hospitales/**.jpg
uploads/hospitales/**.jpeg
uploads/hospitales/**.png
uploads/hospitales/**.gif

uploads/usuarios/**.jpg
uploads/usuarios/**.jpeg
uploads/usuarios/**.png
uploads/usuarios/**.gif

uploads/artesanos/**.jpg
uploads/artesanos/**.jpeg
uploads/artesanos/**.png
uploads/artesanos/**.gif



